useDynLib(gcmr, csampler, bsolver)
importFrom(sandwich, estfun, bread)
export(gaussian.marg, poisson.marg, binomial.marg,
	 negbin.marg, Gamma.marg, weibull.marg,
	 gs.marg, ps.marg, bn.marg, nb.marg, 
       ind.cormat, arma.cormat, cluster.cormat, matern.cormat,
       gcmr, gcmr.fit, gcmr.options, se)
S3method("bread", "gcmr")
S3method("coef", "gcmr")
S3method("estfun", "gcmr")
S3method("logLik", "gcmr")
S3method("print", "gcmr")
S3method("profile", "gcmr")
S3method("residuals", "gcmr")
S3method("summary", "gcmr")
S3method("vcov", "gcmr")




